@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mystery+Quest&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Mystery+Quest&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-color: #ffffff;
    --text-color: #000000;
    --primary-color: #2a3ddf;
    --secondary-color: #223211;
    --color-1: #333333;
    --color-1: #999999;
    --color-1: #111111;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
    color: var(--text-color);
}

body {
    padding: 1em;
    background-color: var(--base-color);

}

h1, h2, h3 {
    font-family: Merriweather,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}
nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
    font-family: Merriweather, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}

